@tailwind base;
@tailwind components;
@tailwind utilities;

.registerBody {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .boxRegister {
    width: 600px;
  }
}
