@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: Roboto, "Arial";
  min-height: 100vh;
  min-width: 100%;
  height: -webkit-fill-available;
  background: rgb(15, 14, 59);
  background: linear-gradient(
    90deg,
    rgba(15, 14, 59, 1) 8%,
    rgba(46, 42, 42, 1) 99%
  );
  color: #fff;
}
