@tailwind base;
@tailwind components;
@tailwind utilities;

.registerBody {
  background-image: url("../../../images/wallpaperRegister.jpg");
  background-repeat: repeat;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxRegister {
  width: 300px;
  @media (min-width: 700px) {
    width: 600px;
  }
}
.loginButton {
  color: #494949;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  a {
    color: #34aee7;
  }
}
